# pip freeze > requirements.txt 로 저장하며
# 패키지를 설치할 가상환경에서
# pip install -r requirements.txt 를 해주시면 됩니다.
# 가상환경 설치 후 pip 업그레이드 필수!
# windows : python -m pip install --upgrade pip
# linux : pip install --upgrade pip
