{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>모현 맛집</title>
    <style>
        #mapwrap{position:relative;overflow:hidden;}
        .category, .category *{margin:0;padding:0;color:#000;}   
        .category {position: absolute; overflow:hidden;top:10px;left:10px;width:350px;height:50px;z-index:10;border:1px solid black;font-family:'Malgun Gothic','맑은 고딕',sans-serif;font-size:12px;text-align:center;background-color:#fff;}
        .category .menu_selected {background:#FF5F4A;color:#fff;border-left:1px solid #915B2F;border-right:1px solid #915B2F;margin:0 -1px;} 
        .category li{list-style:none;float:left;width:50px;height:45px;padding-top:5px;cursor:pointer;} 
    </style>
</head>
<body>
<h3>카테고리를 클릭하세요</h3>
<div id="mapwrap"> 
    <!-- 지도가 표시될 div -->
    <div id="map" style="width:100%;height:350px;"></div>
    <!-- 지도 위에 표시될 마커 카테고리 -->
    <div class="category">
        <ul>
            <li id="koreanMenu" onclick="changeMarker('korean')">
                한식<br>분식
            </li>
            <li id="asianMenu" onclick="changeMarker('asian')">
                아시안<br>양식
            </li>
            <li id="chineseMenu" onclick="changeMarker('chinese')">
                중국집
            </li>
            <li id="japaneseMenu" onclick="changeMarker('japanese')">
                돈까스<br>일식
            </li>
            <li id="fastfoodMenu" onclick="changeMarker('fastfood')">
                패스트<br>푸드
            </li>
            <li id="cafeMenu" onclick="changeMarker('cafe')">
                야식
            </li>
            <li id="nightMenu" onclick="changeMarker('night')">
                카페<br>디저트
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=251b8f774a903203113d7451b7f27d68"></script>

{{ rows | json_script:'jsonData'}}
<script>

var koreanPositions = [];   // 한식/분식 마커가 표시될 좌표 배열입니다
var asianPositions = [];    // 아시안/양식 마커가 표시될 좌표 배열입니다
var chinesePositions = [];  // 중국집 마커가 표시될 좌표 배열입니다
var japanesePositions = []; // 돈까스/일식 마커가 표시될 좌표 배열입니다
var fastfoodPositions = []; // 패스트푸드 마커가 표시될 좌표 배열입니다
var cafePositions = [];     // 카페/디저트 마커가 표시될 좌표 배열입니다
var nightPositions = [];    // 야식 마커가 표시될 좌표 배열입니다

var count=0;
var placeData = JSON.parse(document.getElementById('jsonData').textContent);
for( var key1 in placeData){
    var jsonData = JSON.parse(placeData[key1]);
    count += 1
    var content = {
        title: jsonData['name'],
        latlng: new kakao.maps.LatLng(jsonData['lat'], jsonData['lng']),
    }

    if (jsonData['category'] == '한식/분식') {
        koreanPositions.push(content);
    } else if (jsonData['category'] == '아시안/양식') {
        asianPositions.push(content);
    } else if (jsonData['category'] == '중국집') {
        chinesePositions.push(content);
    } else if (jsonData['category'] == '돈까스/회/일식') {
        japanesePositions.push(content);
    } else if (jsonData['category'] == '치킨/피자/햄버거') {
        fastfoodPositions.push(content);
    } else if (jsonData['category'] == '카페/디저트') {
        cafePositions.push(content);
    } else if (jsonData['category'] == '야식'){
        nightPositions.push(content);
    }

}

var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
    mapOption = { 
        center: new kakao.maps.LatLng(37.3357915, 127.2532946), // 지도의 중심좌표 
        // center: new kakao.maps.LatLng(JSON.parse(placeData['item0'])['lat'], JSON.parse(placeData['item0'])['lng']), // 지도의 중심좌표 
        level: 3 // 지도의 확대 레벨 
    }; 

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

var imageSrc1 = "/static/image/korean.png";
var imageSrc2 = "/static/image/asian.png";
var imageSrc3 = "/static/image/chinese.png";
var imageSrc4 = "/static/image/japanese.png";
var imageSrc5 = "/static/image/fastfood.png";
var imageSrc6 = "/static/image/cafe.png";
var imageSrc7 = "/static/image/night.png";

var koreanMarkers = []; // 한식/분식 마커가 표시될 좌표 배열입니다
var asianMarkers = []; // 아시안/양식 마커가 표시될 좌표 배열입니다
var chineseMarkers = []; // 중국집 마커가 표시될 좌표 배열입니다
var japaneseMarkers = []; // 돈까스/일식 마커가 표시될 좌표 배열입니다
var fastfoodMarkers = []; // 패스트푸드 마커가 표시될 좌표 배열입니다
var cafeMarkers = []; // 카페/디저트 마커가 표시될 좌표 배열입니다
var nightMarkers = []; // 야식 마커가 표시될 좌표 배열입니다

createKoreanMarkers(); // 0 마커를 생성하고 0 마커 배열에 추가합니다
createAsianMarkers(); // 마커를 생성하고 마커 배열에 추가합니다
createChineseMarkers(); // 마커를 생성하고 마커 배열에 추가합니다
createJapaneseMarkers(); // 마커를 생성하고 마커 배열에 추가합니다
createFastfoodMarkers(); // 마커를 생성하고 마커 배열에 추가합니다
createCafeMarkers(); // 마커를 생성하고 마커 배열에 추가합니다
createNightMarkers(); // 마커를 생성하고 마커 배열에 추가합니다

// 처음 생성된 마커를 가려준다
setKoreanMarkers(null);
setAsianMarkers(null);
setChineseMarkers(null);
setJapaneseMarkers(null);
setFastfoodMarkers(null);
setCafeMarkers(null);
setNightMarkers(null);

// 마커이미지의 주소와, 크기, 옵션으로 마커 이미지를 생성하여 리턴하는 함수입니다
function createMarkerImage(src, size, options) {
    var markerImage = new kakao.maps.MarkerImage(src, size, options);
    return markerImage;            
}

// 좌표와 마커이미지를 받아 마커를 생성하여 리턴하는 함수입니다
function createMarker(position, image) {
    var marker = new kakao.maps.Marker({
        position: position,
        image: image
    });
    
    return marker;  
}   

// 한식 마커를 생성하고 한식 마커 배열에 추가하는 함수입니다
function createKoreanMarkers() {
    
    for (var i = 0; i < koreanPositions.length; i++) {  
        
        // 마커이미지와 마커를 생성합니다
        var imageSize = new kakao.maps.Size(30, 30); 
        var markerImage = new kakao.maps.MarkerImage(imageSrc1, imageSize);
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: koreanPositions[i].latlng, // 마커를 표시할 위치
            title : koreanPositions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
        });

        // 생성된 마커를 마커 배열에 추가합니다
        koreanMarkers.push(marker);
    }     
}
// 지도에 마커를 추가합니다.
function setKoreanMarkers(map) {        
    for (var i = 0; i < koreanMarkers.length; i++) {  
        koreanMarkers[i].setMap(map);
    }        
}

// 아시안/양식 마커를 생성하고 마커 배열에 추가하는 함수입니다
function createAsianMarkers() {
    
    for (var i = 0; i < asianPositions.length; i++) {  
        
        // 마커이미지와 마커를 생성합니다
        var imageSize = new kakao.maps.Size(30, 30); 
        var markerImage = new kakao.maps.MarkerImage(imageSrc2, imageSize);
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: asianPositions[i].latlng, // 마커를 표시할 위치
            title : asianPositions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
        });
        // 생성된 마커를 마커 배열에 추가합니다
        asianMarkers.push(marker);
    }     
}

function setAsianMarkers(map) {        
    for (var i = 0; i < asianMarkers.length; i++) {  
        asianMarkers[i].setMap(map);
    }        
}

// 중국집 마커를 생성하고 마커 배열에 추가하는 함수입니다
function createChineseMarkers() {
    
    for (var i = 0; i < chinesePositions.length; i++) {  
        
        // 마커이미지와 마커를 생성합니다
        var imageSize = new kakao.maps.Size(30, 30); 
        var markerImage = new kakao.maps.MarkerImage(imageSrc3, imageSize);
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: chinesePositions[i].latlng, // 마커를 표시할 위치
            title : chinesePositions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
        });
        // 생성된 마커를 마커 배열에 추가합니다
        chineseMarkers.push(marker);
    }     
}

function setChineseMarkers(map) {        
    for (var i = 0; i < chineseMarkers.length; i++) {  
        chineseMarkers[i].setMap(map);
    }        
}

// 돈까스/일식 마커를 생성하고 마커 배열에 추가하는 함수입니다
function createJapaneseMarkers() {
    
    for (var i = 0; i < japanesePositions.length; i++) {  
        
        // 마커이미지와 마커를 생성합니다
        var imageSize = new kakao.maps.Size(30, 30); 
        var markerImage = new kakao.maps.MarkerImage(imageSrc4, imageSize);
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: japanesePositions[i].latlng, // 마커를 표시할 위치
            title : japanesePositions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
        });
        // 생성된 마커를 마커 배열에 추가합니다
        japaneseMarkers.push(marker);
    }     
}

function setJapaneseMarkers(map) {        
    for (var i = 0; i < japaneseMarkers.length; i++) {  
        japaneseMarkers[i].setMap(map);
    }        
}

// 패스트푸드 마커를 생성하고 마커 배열에 추가하는 함수입니다
function createFastfoodMarkers() {
    
    for (var i = 0; i < fastfoodPositions.length; i++) {  
        
        // 마커이미지와 마커를 생성합니다
        var imageSize = new kakao.maps.Size(30, 30); 
        var markerImage = new kakao.maps.MarkerImage(imageSrc5, imageSize);
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: fastfoodPositions[i].latlng, // 마커를 표시할 위치
            title : fastfoodPositions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
        });
        // 생성된 마커를 마커 배열에 추가합니다
        fastfoodMarkers.push(marker);
    }     
}

function setFastfoodMarkers(map) {        
    for (var i = 0; i < fastfoodMarkers.length; i++) {  
        fastfoodMarkers[i].setMap(map);
    }        
}

// 카페/디저트 마커를 생성하고 마커 배열에 추가하는 함수입니다
function createCafeMarkers() {
    
    for (var i = 0; i < cafePositions.length; i++) {  
        
        // 마커이미지와 마커를 생성합니다
        var imageSize = new kakao.maps.Size(30, 30); 
        var markerImage = new kakao.maps.MarkerImage(imageSrc6, imageSize);
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: cafePositions[i].latlng, // 마커를 표시할 위치
            title : cafePositions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
        });
        // 생성된 마커를 마커 배열에 추가합니다
        cafeMarkers.push(marker);
    }     
}

function setCafeMarkers(map) {        
    for (var i = 0; i < cafeMarkers.length; i++) {  
        cafeMarkers[i].setMap(map);
    }        
}

// 야식 마커를 생성하고 마커 배열에 추가하는 함수입니다
function createNightMarkers() {
    
    for (var i = 0; i < nightPositions.length; i++) {  
        
        // 마커이미지와 마커를 생성합니다
        var imageSize = new kakao.maps.Size(30, 30); 
        var markerImage = new kakao.maps.MarkerImage(imageSrc7, imageSize);
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: nightPositions[i].latlng, // 마커를 표시할 위치
            title : nightPositions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
        });
        // 생성된 마커를 마커 배열에 추가합니다
        nightMarkers.push(marker);
    }     
}

function setNightMarkers(map) {        
    for (var i = 0; i < nightMarkers.length; i++) {  
        nightMarkers[i].setMap(map);
    }        
}

// 카테고리를 클릭했을 때 type에 따라 카테고리의 스타일과 지도에 표시되는 마커를 변경합니다
function changeMarker(type){

    var koreanMenu = document.getElementById('koreanMenu');
    var asianMenu = document.getElementById('asianMenu');
    var chineseMenu = document.getElementById('chineseMenu');
    var japaneseMenu = document.getElementById('japaneseMenu');
    var fastfoodMenu = document.getElementById('fastfoodMenu');
    var cafeMenu = document.getElementById('cafeMenu');
    var nightMenu = document.getElementById('nightMenu');
    
    if (type === 'korean') {
        // 한식 카테고리를 선택된 스타일로 변경하고
        koreanMenu.className = 'menu_selected';
        asianMenu.className = '';
        chineseMenu.className = '';
        japaneseMenu.className = '';
        fastfoodMenu.className = '';
        cafeMenu.className = '';
        nightMenu.className = '';

        // 한식 마커들만 지도에 표시하도록 설정합니다
        setKoreanMarkers(map);
        setAsianMarkers(null);
        setChineseMarkers(null);
        setJapaneseMarkers(null);
        setFastfoodMarkers(null);
        setCafeMarkers(null);
        setNightMarkers(null);

    } else if (type === 'asian') {
        koreanMenu.className = '';
        asianMenu.className = 'menu_selected';
        chineseMenu.className = '';
        japaneseMenu.className = '';
        fastfoodMenu.className = '';
        cafeMenu.className = '';
        nightMenu.className = '';

        setKoreanMarkers(null);
        setAsianMarkers(map);
        setChineseMarkers(null);
        setJapaneseMarkers(null);
        setFastfoodMarkers(null);
        setCafeMarkers(null);
        setNightMarkers(null);

    } else if (type == 'chinese') {
        koreanMenu.className = '';
        asianMenu.className = '';
        chineseMenu.className = 'menu_selected';
        japaneseMenu.className = '';
        fastfoodMenu.className = '';
        cafeMenu.className = '';
        nightMenu.className = '';

        setKoreanMarkers(null);
        setAsianMarkers(null);
        setChineseMarkers(map);
        setJapaneseMarkers(null);
        setFastfoodMarkers(null);
        setCafeMarkers(null);
        setNightMarkers(null);

    } else if (type === 'japanese') {
        // 한식 카테고리를 선택된 스타일로 변경하고
        koreanMenu.className = '';
        asianMenu.className = '';
        chineseMenu.className = '';
        japaneseMenu.className = 'menu_selected';
        fastfoodMenu.className = '';
        cafeMenu.className = '';
        nightMenu.className = '';
        
        // 한식 마커들만 지도에 표시하도록 설정합니다
        setKoreanMarkers(null);
        setAsianMarkers(null);
        setChineseMarkers(null);
        setJapaneseMarkers(map);
        setFastfoodMarkers(null);
        setCafeMarkers(null);
        setNightMarkers(null);

    } else if (type === 'fastfood') {
        // 한식 카테고리를 선택된 스타일로 변경하고
        koreanMenu.className = '';
        asianMenu.className = '';
        chineseMenu.className = '';
        japaneseMenu.className = '';
        fastfoodMenu.className = 'menu_selected';
        cafeMenu.className = '';
        nightMenu.className = '';
        
        // 한식 마커들만 지도에 표시하도록 설정합니다
        setKoreanMarkers(null);
        setAsianMarkers(null);
        setChineseMarkers(null);
        setJapaneseMarkers(null);
        setFastfoodMarkers(map);
        setCafeMarkers(null);
        setNightMarkers(null);

    } else if (type === 'cafe') {
        // 한식 카테고리를 선택된 스타일로 변경하고
        koreanMenu.className = '';
        asianMenu.className = '';
        chineseMenu.className = '';
        japaneseMenu.className = '';
        fastfoodMenu.className = '';
        cafeMenu.className = 'menu_selected';
        nightMenu.className = '';
        
        // 한식 마커들만 지도에 표시하도록 설정합니다
        setKoreanMarkers(null);
        setAsianMarkers(null);
        setChineseMarkers(null);
        setJapaneseMarkers(null);
        setFastfoodMarkers(null);
        setCafeMarkers(map);
        setNightMarkers(null);

    } else if (type === 'night') {
        // 한식 카테고리를 선택된 스타일로 변경하고
        koreanMenu.className = '';
        asianMenu.className = '';
        chineseMenu.className = '';
        japaneseMenu.className = '';
        fastfoodMenu.className = '';
        cafeMenu.className = '';
        nightMenu.className = 'menu_selected';
        
        // 한식 마커들만 지도에 표시하도록 설정합니다
        setKoreanMarkers(null);
        setAsianMarkers(null);
        setChineseMarkers(null);
        setJapaneseMarkers(null);
        setFastfoodMarkers(null);
        setCafeMarkers(null);
        setNightMarkers(map);
    }
} 
</script>
</body>
</html>